@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./Variables.scss";

body {
  font-family: "Poppins", sans-serif;
  background: $color-bg;
  color: $color-white;
  line-height: 1.7;
  background-image: url(../assets/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
}

.container {
  width: $container-width-lg;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  color: $color-light;
  text-align: center;
}

section > h2 {
  color: $color-primary;
  margin-bottom: 3rem;
}

.text-light {
  color: $color-light;
}

a {
  transition: $transition;
  color: $color-primary;
}

a:hover {
  color: $color-white;
}

.btn {
  width: max-content;
  display: inline-block;
  color: $color-primary;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid $color-primary;
  transition: $transition;
}

.btn:hover {
  background-color: $color-white;
  color: $color-bg;
  border-color: transparent;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-bg;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

//////////// Media Queries (Medium Devices)////////////
@media screen and (max-width: 1024px) {
  .container {
    width: $container-width-md;
  }
  section {
    margin-top: 6rem;
  }
}
//////////// Media Queries (Medium Devices)////////////
@media screen and (max-width: 600px) {
  .container {
    width: $container-width-sm;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
//////////// Media Queries (Medium Devices)////////////
